.example-spacer {
    flex: 0.1 1 auto;
  }

.create-class:visited {
    color: inherit;
}

.example-form {
    padding-left: 15px;
    padding-bottom: 35px;
    width: 200px;
    height: 50px;
}
  
.example-full-width {
    width: 100%;
}

