<form [formGroup]="addCarForm" (submit)="createCar()">
    <p>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Message</mat-label>
            <input placeholder="Ex. XXX000" formControlName="car_plate">
            <mat-hint align="start"><strong>Don't disclose personal info</strong> </mat-hint>
         </mat-form-field>
    </p>
    <p>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Message</mat-label>
            <input placeholder="Ex. Name" formControlName="car_plate">
            <mat-hint align="start"><strong>Don't disclose personal info</strong> </mat-hint>
         </mat-form-field>
    </p>
     
    </form>

